# Directory to hold the datafiles for the Main storage
dir = /srv/ids/storage_file/data/

# List of external read only storage areas (optional).  Space
# separated list of names.  The names will also be used as a prefix in
# the location attribute of Dataset and Datafile to indicate that the
# objects resides in the respective storage area.
!extDir.list = exta extb

# Directory to hold the datafiles for each of the storage areas
# configured in extDir.list.
!extDir.exta.dir = /srv/ids/storage_file/external-data-a/
!extDir.extb.dir = /srv/ids/storage_file/b-files/

# The plugin removes old lock files from main storage.  How old is old
# in seconds?  Note that on one hand this cleanup is not urgent and on
# the hand, the respective lock file should not be removed as long as
# there are still ongoing requests for the corresponding dataset.  So
# set this to a fairly large value.  A few hours might be a good value
# for production.  A value of 0 or not setting it at all disables this
# feature.
!oldLockSeconds = 7200
